<link rel="stylesheet" href="<%= assetPath('css/profile.css')%>">

<img src="<%= user.avatar%>" alt="" width="100" >

<%if (user.id == profile_user.id) {%>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="post" >
        <input type="text" name="name" placeholder="Your name..." value="<%= profile_user.name%>" required>
        <input type="text" name="email" placeholder="Your email..." value="<%= profile_user.email%>" required>
        <input type="file" name="avatar"  placeholder="profile picture..." id="">
        <input type="submit" value="Update">
    </form> 

<%} else {%>

<p> <%= profile_user.name%></p>
<p><%= profile_user.email%></p>
<br>
<br>
<small><%= user.id%> <%= user.name%></small>
<br>
<small><%= profile_user.id%> <%= profile_user.name%></small>
<br>

    <% if(!friendshipExist) {%>
        <button><a href="/add_friend/?from_user=<%= user.id%>&to_user=<%= profile_user.id%>" >Add Friend</a></button>

    <% } else{%>
        <button><a href="/add_friend/delete/?from_user=<%= user.id%>&to_user=<%= profile_user.id%>" >Remove Friend</a></button>

    <% }%>
<% } %>